@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #1f1f1f;
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
}

.navigation {
    display: block;
}

.navigation .logo {
    padding: 10px;
    font-size: 1.5em;
}

.logo span {
    color: #F8F7F980;
}

.nav-menu{
    display: none;
    transition: all 1s;
}

.showMenu {
    display: block;
    transition: all 1s;
}

.navigation .nav-item a {
    display: block;
    padding: 10px;
    background-color: #46464629;
    color: #F8F7F980;
    border-top: 1px solid #464646;
    font-size: 15px;
    font-weight: 300;
}

.navigation .nav-item a:hover {
    background-color: #46464663;
    color: #fff;
    transition: all 0.4s;
}

.navigation i {
    display: block;
    padding: 4px;
    background-color: #46464629;
    border-top: 1px solid #464646;
    cursor: pointer;
    transition: all 1s;
}

.home {
    display: block;
    margin: auto;
    padding: 20px;
    padding-bottom: 0;
}

.home-text h4 {
    font-size: .8em;
    margin-bottom: 5px;
    color: #F8F7F980;
}

.home-text h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    line-height: 40px;
}


.home-text p {
    width: 280px;
    font-size: .7em;
    margin-bottom: 3.5em;
    color: #F8F7F980;
    margin: auto;
    margin-bottom: 3em;
}

.home-btn {
    border: 1px solid #fff;
    padding: 15px 60px;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.45s;
}

.home-btn:hover {
    background: #ffffff9f;
    color: #000;
    border-color: #000;
}

.home .home-img {
    width: 280px;
    margin: auto;
    margin-bottom: -6px;
}

.home .home-img img {
    width: 100%;
}

.general h1 {
    font-size: 2.5em;
    padding-top: 50px;
}

.general {
    width: 280px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #464646b3;
    padding: 10px;
    margin: auto;
}

.general p {
    font-size: 1em;
    padding-top: 10px;
}

footer {
    border-top: 1px solid #fff;
}

.about-me {
    width: 100%;
}

.about-me h1, .projects h1 {
    padding-top: 30px;
    padding-bottom: 10px;
}

.projects {
    display: flex;
}

.line {
    border-top: 1px solid #fff;
}

.hidden{
    opacity: 0;
    transition: all 1.7s;
}

.leftToRight {
    filter: blur(15px);
    transform: translateX(-50%);
    transition: all 1.7s;
}

.rightToleft {
    filter: blur(15px);
    transform: translateX(50%);
    transition: all 1.7s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.7s;
}

